<html>

<head>

  <!-- Jquery -->

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <style>
    .chart {

    }

    .main text {
      font: 10px sans-serif;
    }

    .axis line, .axis path {
      shape-rendering: crispEdges;
      stroke: black;
      fill: none;
    }

    .zoom-icon{
      cursor: pointer;
    }

    .plot{
      cursor: pointer;
    }

    .selected-plot{
      stroke: #B22F00;
    }

    circle {
      fill: steelblue;
    }

    .axis-label{
      font-size: 1.1em !important;
    }

    #age-slider-container{
      height: 70px;
    }

  </style>

  <!-- Angular JS Slider -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.6.0/rzslider.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.6.0/rzslider.min.js"></script>

  <!-- Custom -->
  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="./ScatterPlot.js"></script>
  <script type="text/javascript" src="./ScatterPlotMatrix.js"></script>

  <title>Open Food Fact Data Analysis</title>
</head>

<body>
  <div id="app-container" class="container" ng-app="myApp" ng-controller="myCtrl">

    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <h1 align="center" style="margin-top : 20px;" >Open Food Fact Data Analysis</h1>
        </div>
    </div>


    <div class="row" style="margin-top:10px;">

      <div class="col">

        <div class="row">

          <div id="price-slider-container" class="col-1 solid-border">

            <div style="height:500px; margin-top:10px; margin-bottom:10px;">
                  <rzslider rz-slider-model="slider1.min" rz-slider-high="slider1.max" rz-slider-options="slider1.options" ></rzslider><br />
            </div>

          </div>

          <div class="col-11">
            <div class="row">
              <div id="chart-container" class="col solid-border" align="center"> </div>
            </div>
          </div>

        </div>

        <div id="age-slider-container" class="row solid-border">
          <div class="col-1">
            <button ng-click="resetPlot()" type="button" class="btn btn-danger btn-sm">Reset Plot</button>
          </div>

          <div class="col-11">
            <div style=" margin-left:200px; margin-right:100px;">
              <rzslider rz-slider-model="slider2.min" rz-slider-high="slider2.max"  rz-slider-options="slider2.options" ></rzslider>
            </div>
          </div>
        </div>

      </div>



      </div>

    <hr />

    <div class="row">
      <div id="control-container" class="col solid-border">
<!--

        <div class="row" align="center">

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" ng-model="options.showMale" ng-change="redrawChart();">
              <label class="form-check-label" for="defaultCheck1">
                Male
              </label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" ng-model="options.showFemale" ng-change="redrawChart();">
              <label class="form-check-label" for="defaultCheck1">
                Female
              </label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" ng-model="options.showSurvived" ng-change="redrawChart();">
              <label class="form-check-label" for="defaultCheck1">
                Survived
              </label>
            </div>
          </div>

          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" ng-model="options.showDead" ng-change="redrawChart();">
              <label class="form-check-label" for="defaultCheck1">
                Dead
              </label>
            </div>
          </div>

        </div>

        <hr />

        <div class="row" align="center" style="margin-top:10px;">

          <div class="col">
            <span class="label" >Data Count : </span><span>{{statistics.count}}</span>
          </div>

          <div class="col">
            <span class="label">Percentage : </span><span>{{statistics.percentage}}</span>
          </div>

          <div class="col">
            <span class="label"># of Man : </span><span>{{statistics.numberOfMan}}</span>
          </div>

          <div class="col">
            <span class="label"># of Woman : </span><span>{{statistics.numberOfWoman}}</span>
          </div>

          <div class="col">
            <span class="label"># of Survived : </span><span>{{statistics.numberOfSurvived}}</span>
          </div>

          <div class="col">
            <span class="label"># of Death : </span><span>{{statistics.numberOfDeath}}</span>
          </div>

        </div>
-->
      </div>
    </div>

  </div>

</body>


<script type="text/javascript">
  const scatterPlotMatrix = new ScatterPlotMatrix("chart-container",850,650);
  scatterPlotMatrix.plotAll();

  var app = angular.module("myApp", ["rzModule"]);
  app.controller("myCtrl", function($scope,$window) {
      $scope.firstName = "John";
      $scope.lastName = "Doe";

      $scope.slider1 = {
      min: 10,
      max: 500,
      options: {
          id : "slider-y",
          floor: 10,
          ceil: 500,
          vertical: true
        }
      };

      $scope.slider2 = {
      min: 10,
      max: 500,
      options: {
          id : "slider-x",
          floor: 10,
          ceil: 500,
          vertical: false
        }
      };

      $scope.resetPlot = function(){
        console.log("Reset Working :) ");
        const child = $window.open('https://www.google.com', '_blank');
        console.log("Child object : " + Object.keys(child));
      };

      $scope.testFunction = function(message){
        console.log("Message : " + message);
      }

  });

  window.onload = function () {
      angular.element(document.getElementById('app-container')).scope().testFunction('Hello There');
  }

</script>

</html>
